# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode
*.code-workspace

# bundle
packages/**/*.d.ts
packages/**/*.js

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE

# example
/quick-start
/example_dist
/example

# tests
/test
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
build/config\.gypi

# build
dist/

# config
config.yml
config-*.yml
.env

# front build file
public/

# ssl cert
secrets/

# serverless
serverless.yml

# ssh cert
koding-*.pem

dist.zip